---
import Contacts from "../components/Contacts.astro";
import Hero from "../components/Hero.astro";
import Logo from "../components/logo.astro";
import Projects from "../components/Projects.astro";
import "../styles/global.css";
---

<html class="h-full bg-[#16181D] [scrollbar-gutter:stable_both-edges]">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="m-0 bg-[#16181D] text-white overflow-x-hidden">
    <div class="flex justify-center pt-6">
      <Logo />
    </div>
		<main>
  
			<Hero />
      <Projects/>
      <Contacts/>
		</main>
  </body>
</html>
