<!-- components/Logo.astro -->
<a
  href="/"
  aria-label="Serhii Sardak"
  class="inline-flex items-center gap-2 group"
>
  <span
    class="md:text-xl font-semibold
                 bg-gradient-to-r from-rose-300 via-orange-300 to-violet-300
                 bg-clip-text text-transparent drop-shadow
                 group-hover:drop-shadow-lg transition font-mono uppercase tracking-[0.2em] text-xs md:text-sm opacity-70 hover:opacity-100"
  >
    /sardak.dev
  </span>
</a>
