<!-- components/Logo.astro -->
<a
  href="/"
  aria-label="Serhii Sardak"
  class="inline-flex items-center gap-2 group"
>
  <span
    class="md:text-xl font-semibold
                 bg-gradient-to-r from-[color-mix(in_srgb,#fda4af_90%,gray_10%)] via-[color-mix(in_srgb,#fdba74_90%,gray_10%)] to-[color-mix(in_srgb,#c4b5fd_90%,gray_10%)]
                 bg-clip-text text-transparent drop-shadow
                 group-hover:drop-shadow-lg transition font-mono uppercase tracking-[0.2em] text-sm opacity-70 hover:opacity-100"
  >
    /sardak.dev
  </span>
</a>
