---
import TechList from "./TechList.astro";


const projects = [
  {
    title: "Projekt 1",
    description: "One-Page Website for a small business",
    image: "/projects/project1.png",
    tech:["react", "astro", "tailwind"]
  },
  {
    title: "Projekt 2",
    description: "One-Page Website for a small business",
    image: "/projects/project2.png",
    tech:["react", "astro", "tailwind"]

  },
  {
    title: "Projekt 3",
    description: "One-Page Website for a small business",
    image: "/projects/project3.png",
    tech:["react", "astro", "tailwind"]

  },
  {
    title: "Projekt 4",
    description: "One-Page Website for a small business",
    image: "/projects/project4.png",
    tech:["react", "astro", "tailwind"]

  },
  {
    title: "Projekt 5",
    description: "One-Page Website for a small business",
    image: "/projects/project5.png",
    tech:["react", "astro", "tailwind", "docker"]

  },
  {
    title: "Projekt 6",
    description: "One-Page Website for a small business",
    image: "/projects/project6.png",
    tech:["react"]

  },
];
---

<section id="projects" class="bg-[#16181D] flex flex-col mx-auto max-w-7xl px-4 py-16 justify-evenly min-h-screen">
    <!-- Header -->
    <header class="text-center mb-10">
      <p class="text-[#E3646E] font-medium text-xl">Meine Projekte</p>
      <h2 class="font-bold text-2xl">Sehen Sie sich die vorgestellten Projekte an</h2>
    </header>

    <!-- Сетка 1×2 c равными карточками -->



    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
  {projects.map((p) => (
    <article
      class="grid gap-6 md:grid-cols-[250px_1fr]
             items-center rounded-2xl bg-[#292C34] p-6 shadow-lg border border-white/5
             min-h-[220px] hover:-translate-y-0.5 transition"
    >
      {/* превью */}
      <div class="w-full md:w-[250px] h-[200px] rounded-xl overflow-hidden">
        <img class="w-full h-full object-cover" src={p.image} alt="" />
      </div>

      {/* контент */}
      <div class="flex flex-col h-full shrink min-w-[130px]">
        <h3 class="font-semibold text-[16px] mb-1">{p.title}</h3>
        <p class="text-sm text-white/80 mb-4">
          {p.description}
        </p>
        <div class="mt-auto">
          <TechList items={p.tech} />
        </div>
      </div>
    </article>
  ))}
</div>
</section>
